/md_out/
/.cct/
/.civitas-pid
/.idea/
/dist/
/bin/cct-template-compile
/src/main
/tests/tmp/
/tests/.runner/
/tests/integration/**/fixtures/*
!/tests/integration/**/fixtures/*.cct
/examples/*/main
/examples/*/dist/
/examples/mural/var/**
!/examples/mural/var/.gitignore
/examples/mural/tests/tmp/**
!/examples/mural/tests/tmp/.gitignore
/examples/mural_expandido/var/**
!/examples/mural_expandido/var/.gitignore
/examples/rede_social/data/**
!/examples/rede_social/data/.gitignore
!/examples/rede_social/data/backups/
!/examples/rede_social/data/backups/db/
!/examples/rede_social/data/backups/db/.gitignore
!/examples/rede_social/data/db/
!/examples/rede_social/data/db/.gitignore
!/examples/rede_social/data/media/
!/examples/rede_social/data/media/.gitignore
!/examples/rede_social/data/sessions/
!/examples/rede_social/data/sessions/.gitignore
!/examples/rede_social/data/traces/
!/examples/rede_social/data/traces/.gitignore
/examples/rede_social/.civitas/**
!/examples/rede_social/.civitas/.gitignore
!/examples/rede_social/.civitas/generated-docs/
!/examples/rede_social/.civitas/generated-docs/.gitignore
!/examples/rede_social/.civitas/releases/
!/examples/rede_social/.civitas/releases/.gitignore
!/examples/rede_social/.civitas/reports/
!/examples/rede_social/.civitas/reports/.gitignore
*.svg
*.sigil
*.cgen.c
*.test
*.log
*.ctrace
